


<form asp-controller="Bot" asp-action="But"  asp-antiforgery="false" >
    <div>

        @* <input  asp-for="Text" value="" hidden /> *@
        <input type="submit" value="Перейти в чат" />
    </div>
    </form> 

    
